body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ffffff;
    background-image: url("https://www.transparenttextures.com/patterns/clean-textile.png");
}
a.button {
    padding: 1px 6px;
    border: 1px outset buttonborder;
    border-radius: 3px;
    color: buttontext;
    background-color: buttonface;
    text-decoration: none;
}


h1{

    text-align: center;

    font-size: 55px;

    margin-bottom: 0px;




}




#title{

    font-family: 'Shippori Mincho B1', serif;

    font-weight: bold;

    padding-top: 10px;







}

.image-container{

    margin-top: 15px;

    padding:8px 50px 50px 50px;

    font-size: 21px;

    text-align: center;

}





#astroImage{

    width: 55%;

    margin-left: auto;

    margin-right: auto;

    border-radius: 6px;

}




h3{
    font-size: 25px;
    font-weight: bold;
}
#imgdate {
     border: 1px dotted black;
}




#explanation {

    font-family: 'Shippori Mincho B1', serif;



}