* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    color: rgb(47, 46, 46);
    font-family: 'Shippori Mincho B1', serif;
    font-weight: 300;
    font-style: normal;
}

body {
    min-height: 100vh;
    background-color: #ffffff;
    background-image: url("https://www.transparenttextures.com/patterns/clean-textile.png");
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

header {
    background: transparent;
    width: 100%;
}

a {
    color: black;
    text-decoration: none;
    font-size: 1.25rem;
}

.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
    width: 100%;
}

.logo {
    width: 5rem;
}

.title {
    font-weight: 600;
    font-size: 2rem;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3.75rem;
}

.nav-link {
    transition: 0.7s ease;
}

.nav-link:hover {
    border-bottom: 2px solid black;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: black;
}

.details-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    background: #6078b4;
    width: 100%;
}

.details-container .details-input {
    display: flex;
    align-items: center;
    gap: 1.25rem;
    flex-wrap: wrap;
    margin-bottom: 0.5rem;
}

.details-container .details-input span {
    color: white;
    font-size: 1.625rem;
}

.details-container .details-input input[type=date] {
    height: 30px;
    width: 150px;
    outline: none;
    padding: 0 0.625rem;
    font-size: 1.25rem;
    border-radius: 5px;
    background-color: #F0F0F0;
}

button#btnGet {
    width: 150px;
    height: 40px;
    border-radius: 5px;
    font-size: 1.25rem;
    border: none;
    cursor: pointer;
    font-family:sans-serif;
    outline: none;
    background-color: #dddddd;
    padding: 4px 8px;
    margin: 3px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    transition-duration: 0.2s;
    transition-property: box-shadow, transform;
}

button#fetch-image:hover, button#btnGet:focus, button#btnGet:active {
    background-color: #c6c6c6;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transform: scale(0.90);
}

#title {
    font-family: 'Shippori Mincho B1', serif;
    font-weight: bold;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 40px;
}

.image-container {
    padding: 50px;
    font-size: 1.3125rem;
    text-align: center;
}

.image-container img {
    width: 100%;
    padding-bottom: 30px;
}

#explanation {
    padding-top: 30px;
    font-family: 'Shippori Mincho B1', serif;
}

/* Media Queries */
@media (max-width: 1040px) {
    .hamburger {
        display: block;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: rgb(236, 230, 230);
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }
    .nav-item {
        margin: 16px 0;
    }
    .title{
        font-size: 1.7rem;
    }
    .nav-menu.active {
        left: 0;
    }
    .details-container {
        flex-direction: column;
    }
    .details-input {
        width: 100%;
        justify-content: center;
    }
}

@media (max-width: 480px) {
    .title {
        display: none;
    }
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: rgb(236, 230, 230);
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }
    .nav-item {
        margin: 16px 0;
    }
    .nav-menu.active {
        left: 0;
    }
    .details-container {
        flex-direction: column;
        padding: 1rem;
    }
    .details-input {
        width: 100%;
        justify-content: center;
    }
    .details-input span, .details-input input[type=date] {
        font-size: 1.125rem;
    }
    button#btnGet {
        width: 100%;
        margin: 1rem 0;
    }
    .image-container {
        padding: 1rem;
    }
    .image-container img {
        width: 100%;
    }
    #explanation {
        padding-top: 1rem;
        font-size: 1rem;
    }
}
