*{
    padding: 0;
    margin: 0;
    list-style: none;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ffffff;
    background-image: url("https://www.transparenttextures.com/patterns/clean-textile.png");
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 15px;
    background: transparent;
    transition: 0.5s ease;
}

.menu-btn{
    display: none;
}

.logo {
    width: 80px;
}
.navigation{
    padding: 15px 10px 0px 15px;
    display : flex;
    justify-content: space-between;
}

.navigation .topic{
    font-weight: 600px;
    font-size: 2.5em;
}


.navlist{
    display: flex;
}


.navi {
    padding: 1px 6px;
    border: 1px outset buttonborder;
    border-radius: 3px;
    color: buttontext;
    background-color: #F0F0F0;
    text-decoration: none;
    transition: .3s ease;
    font-weight: 300;
    font-size: 1.3em;
    margin: 0 20px;
}


.details-container{
    height:100px;
    width:100%;
    background: #6078b4;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.details-container .det  ails-input{
    display: flex;
    align-items: center;
    gap: 20px;

}

.details-container .details-input span{
    color: white;
    font-size:  26px;
}

.details-container .details-input input[type=date]{
    height: 30px;
    width: 150px;
    outline: none;
    padding: 0 10px ;
    font-size: 20px;
    border-radius: 5px;
    background-color: #F0F0F0;
}

button#btnGet{
    width: 150px;
    height: 40px;
    border-radius: 5px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    font-family: 'Raedex Pro',sans-serif;
    outline: none;
    background-color: #dddddd;
    padding: 4px 8px;
    margin: 3px;
    box-shadow: 0 0 6px rgba(0,0,0,0.1);
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-property: box-shadow, transform;
    transition-property:box-shadow, transform;

}

button#fetch-image:hover, button#btnGet:focus, button#btnGet:active  {
    background-color: #c6c6c6;
    box-shadow: 0 0 10px rgb(0, 0, 0,0.5);
    -webkit-transform: scale(1.6);
    transform: scale(0.90);
}
#title{
    font-family: 'Shippori Mincho B1', serif;
    font-weight: bold;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 40px;
}
.image-container{
    padding:50px;
    font-size: 21px;
    text-align: center;
}

.image-container img{
    width: 100%;
    padding-bottom: 30px;
}

#explanation {
    padding-top: 30px;
    font-family: 'Shippori Mincho B1', serif;

}

/* Media Queries */
@media (min-width: 481px) and (max-width: 1040px) {
    header {
        padding: 0.625rem 1.125rem;
    }

    section {
        padding: 5rem 1.25rem;
    }

    .navigation {
        display: none;
    }

    .navigation.active {
        position: fixed;
        opacity: 0.9;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        background: rgba(1, 1, 1, 0.5);
    }

    .navlist {
        background: #fff;
        opacity: 0.85;
        width: 37.5rem;
        max-width: 37.5rem;
        margin: 1.25rem;
        padding: 2.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 0.3125rem;
        box-shadow: 0 0.3125rem 1.5625rem rgba(1, 1, 1, 0.2);
    }

    .navlist a {
        font-size: 1.2rem;
        margin: 1.25rem;
    }

    .menu-btn {
        display: block;
        background-image: url("/images/menu.png");
        background-repeat: no-repeat;
        background-size: 1.875rem;
        background-position: center;
        width: 2.5rem;
        height: 2.5rem;
        cursor: pointer;
        transition: background 0.3s ease;
    }

    .menu-btn.active {
        background-image: url("/images/icons8-close-40.png");
        background-size: 1.5625rem;
    }
}

@media (max-width: 480px) {
    header {
        padding: 0.625rem 1.125rem;
        margin-bottom: 1.25rem;
    }

    section {
        padding: 1.25rem 1.25rem;
    }

    .topic {
        display: none;
    }

    .navigation {
        display: none;
    }

    .navigation.active {
        position: fixed;
        opacity: 1;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        background: rgba(1, 1, 1, 0.5);
    }

    .navlist {
        background: #fff;
        opacity: 0.85;
        width: 100%;
        margin: 1.25rem;
        padding: 2.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 0.3125rem;
    }

    .navlist a {
        font-size: 1.2rem;
        margin: 1.25rem;
    }

    .navlist a:hover {
        border-bottom: 2px solid #0C0404;
    }

    .menu-btn {
        display: block;
        background-image: url("/images/menu.png");
        background-repeat: no-repeat;
        background-size: 1.875rem;
        background-position: center;
        width: 2.5rem;
        height: 2.5rem;
        cursor: pointer;
        transition: background 0.3s ease;
    }

    .menu-btn.active {
        background-image: url("/images/icons8-close-40.png");
        background-size: 1.5625rem;
    }
}

